*
{
    margin: 0;
   padding: 0;
}

/*Hello Bar - Free shipping*/
.shipping-bar
{
    height: 5vh;
    width: 100%;
    background-color: teal;
}

.shipping-bar h4
{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 5px;
}

/*Search Bar*/
.search
{
    float: right;
    font-family: 'Poppins', sans-serif;
    padding: 10px 40px 0 40px;
    margin: 15px 5px 0 30px;
    color: darkslategray;
}

.search:hover
{
    border: 1px solid lightgray;
    height: 30px;
    width: 100px;
    border-radius:40px;
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    -ms-border-radius:40px;
    -o-border-radius:40px;
    transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -ms-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
}

/*Social Media Icons*/

.social ul
{
    margin-left: 30px;
}

.social li
{
    list-style: none;
    float: left;
    padding: 5px;
    margin: 20px 5px;
}

.social li:hover
{
    filter: grayscale(150%);
    -webkit-filter: grayscale(150%);
}

.social img
{
    height: 35px;
    width: 35px;
}

.social p
{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: darkslategray;
}

/*Cart Icons*/

.cart ul {
    margin-right: 30px;
}

.cart li {
    list-style: none;
    float: right;
    padding: 5px;
    margin: 20px 5px;
}

.cart li:hover {
    filter: grayscale(150%);
    -webkit-filter: grayscale(150%);
}

.cart img {
    height: 35px;
    width: 35px;
}

.cart p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: darkslategray;
}

/*Logo*/

.logo
{
    margin-top: -5px;
    background-color: white;
    padding: 10px;
}



.logo img
{
    height: 150px;
    width: 175px;
    top: 0;
    left: 0;
    transform:translate(382%,5%);
    -webkit-transform:translate(382%,5%);
    -moz-transform:translate(382%,5%);
    -ms-transform:translate(382%,5%);
    -o-transform:translate(382%,5%);
}

/*Navigation Bar*/

.navbar 
{
    height: 6vh;
    width: 100%; 
    background-color: lightblue;
}

.navbar ul
{
    text-align: center;
    padding-top: 8px; 
}

.navbar li
{
    display: inline;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: bolder;
    color: teal;
    text-shadow: 1px darkslategray;
    padding: 30px;
    cursor: pointer;
}

.navbar a,
.navbar a:visited
{
    text-decoration: none;
    color: inherit;
}

.navbar a:hover {
    color: ivory;
    text-shadow: 1px darkslategray;
    transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -ms-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
}

/*Latest Collection*/

.latest
{
    height: 75vh;
    width: 100%;
    background-color: white; 
}

.latest-content
{
    background-color: teal;
    height: 75vh;
}

.latest-content a
{
    text-decoration: none; 
    color: inherit;
}

.latest-content a:visited {
    text-decoration: none;
    color: inherit;
}

.latest-right
{
    background-image: url(img/dog.jpg); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position-y: center;
    height: 75vh;
}

.latest-content h1
{
    font-family: 'Playfair Display', serif; 
    font-size: 45px;
    color: white; 
    text-align: center; 
    padding-top: 125px;
}

.latest-content h2
{
    font-family: 'Poppins', serif;
    font-size: 27px;
    color: white;
    text-align: center;
    margin: 50px 50px 40px 50px;
}

.latest-content h3 
{
    font-family: 'Poppins', serif;
    font-size: 30px;
    color: white;
    text-align: center;   
}

.latest-content button
{
    height: 75px;
    width: 200px;
    border: 2px solid white; 
    background-color: transparent;
    font-family: 'Poppins', serif; 
    font-size: 30px;
    font-weight: bold;
    color: white; 
    margin: 50px 0 0 365px; 
}

.latest-content button:hover
{
    color: teal;
    border: 2.5px solid slategray; 
    background-color: white;
    transition:.5s ease-in;
    -webkit-transition:.5s ease-in;
    -moz-transition:.5s ease-in;
    -ms-transition:.5s ease-in;
    -o-transition:.5s ease-in;
}

/*Fall Collection*/

.fall
{
    height: 100vh;
    width: 100%;
    background-color: ivory;
}

.fall-container
{
    margin-top: 40px;
    display: inline-flex; 
}

.fall-container .column 
{
    border: 2px solid transparent;
    padding: 0 15px;
    margin: 50px 0 0 8px;
    height: 650px;
    width: 800px;
    top: 50%;
    left: 50%;
    transform: translate(13%, 10%);
    -webkit-transform: translate(13%, 10%);
    -moz-transform: translate(13%, 10%);
    -ms-transform: translate(13%, 10%);
    -o-transform: translate(13%, 10%);
}

.fall-container a
{
    text-decoration: none;
    color: inherit;
}

.fall-container a:visited {
    text-decoration: none;
    color: inherit;
}

#column2
{
    background-color: burlywood;
    background-position-y: top;
}

#column1
{
    background-image: url(img/dog32.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}

.column .text-block
{
    position: absolute;
    margin-top: 10px;
    height: 300px;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    opacity: 0.75;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    padding: 20px;
}

.column .text-block h1
{
    font-family: 'Playfair Display', serif; 
    font-size: 35px; 
    text-align: center; 
    margin: 30px;
    text-shadow: 1px black;
}

.column .text-block p
{
    font-family: 'Playfair Display', sans-serif;
    font-size: 20px; 
    font-style: oblique; 
    font-weight: bold;
    text-align: center;
    text-shadow: 1px black; 
    margin: 20px;
}

.fall-button button
{
    background-color: teal;
    color: white;
    border: 2px solid transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    height: 60px;
    width: 250px;
    margin: 40px;
    top: 0;
    left: 0;
    transform:translate(90%, 625%);
    -webkit-transform:translate(90%, 625%);
    -moz-transform:translate(90%, 625%);
    -ms-transform:translate(90%, 625%);
    -o-transform:translate(90%, 625%);
}

.fall-button button:hover
{
    background-color: ivory;
    color: black;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.fall-button a
{
    text-decoration: none;
    color: inherit;
}

.fall-button a:visited
{
    text-decoration: none;
    color: inherit;
}

#column2 h1
{
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    font-size: 75px;
    text-align: center;
    top: 0;
    left: 0;
    transform:translate(0%,50%);
    -webkit-transform:translate(0%,50%);
    -moz-transform:translate(0%,50%);
    -ms-transform:translate(0%,50%);
    -o-transform:translate(0%,50%);
}

#column2:hover
{
    background-color: rgb(253, 215, 165);
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

/* Products Section */

.products {
    height: 100vh;
    width: 100%;
    background-color: #edf9fc;
    margin-bottom: -50px;
}

.product-container {
    display: inline-flex;
    padding-top: 50px;
    padding-left: 92px;
    margin: 55px 100px;
}

.card {
    width: auto;
    height: 500px;
    background-color: #edf9fc;
}

.card img
{
    height: 350px;
    width: auto;
}

.card a {
    text-decoration: none;
    color: inherit;
}

.card a:visited {
    text-decoration: none;
    color: inherit;
}

.product-card {
    margin: 25px;
    width: 455px;
    height: 650px;
    background-color: #edf9fc;
}

.product-card:hover {
    box-shadow: 0 15px 20px lightgray;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

.container {
    padding: 2px 16px;
}

.container h4 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
}

.container p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 5px;
}

/* SHOP Page */

.shop {
    height: 70vh;
    width: 100%;
    background-color: teal;
}

.shop-container {
    display: inline-flex;
}

.shop-container .shop-column {
    margin: 10px;
    height: 550px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(40%, 20%);
    -webkit-transform: translate(40%, 20%);
    -moz-transform: translate(40%, 20%);
    -ms-transform: translate(40%, 20%);
    -o-transform: translate(40%, 20%);
}

#shop-column2 {
    background-color: ivory;
    width: 500px;
    height: 350px;
    top: 50%;
    left: 50%;
    transform: translate(15%, 40%);
    -webkit-transform: translate(15%, 40%);
    -moz-transform: translate(15%, 40%);
    -ms-transform: translate(15%, 40%);
    -o-transform: translate(15%, 40%);
}

#shop-column1 
{
    background-image: url(img/dog18.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 950px;
    height: 450px;
}

.shop-column h1
{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    text-align: center;
    margin: 25px;
}

.shop-column li
{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 25px auto;
    padding: 10px;
    text-decoration: none; 
    list-style: none;
    border: 2px solid slategray;
    height: 30px;
    width: 250px;
    vertical-align: -webkit-baseline-middle; 
}

.shop-column li:hover
{
    background-color: teal;
    border: transparent;
    color: white;
    transition:.5s ease;
    -webkit-transition:.5s ease;
    -moz-transition:.5s ease;
    -ms-transition:.5s ease;
    -o-transition:.5s ease;
}

.shop-block a {
    text-decoration: none;
    color: inherit;
}

.shop-block a:visited {
    text-decoration: none;
    color: inherit;
}

/* City Slicker Section*/

.city
{
    height: 130vh;
    width: 100%;
    background-color: white;
}

.city-container {
    display: inline-flex;
    padding: 20px;
    margin: 20px 0 0 250px;
}

.slicker-container .love
{
    height: 35px;
    widows: 35px;
    padding-top: 5px;
}

.slicker-card {
    width: auto;
    height: 300px;
}

.slicker-card img {
    height: 300px;
    width: auto;
}

.slicker-card a {
    text-decoration: none;
    color: inherit;
}

.slicker-card a:visited {
    text-decoration: none;
    color: inherit;
}

.city-card {
    margin: 15px;
    width: 425px;
    height: 485px;
    background-color: transparent;
}

.slicker-container {
    padding: 2px 16px;
}

.slicker-container h4 {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    margin: 10px auto;
}

.slicker-container h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin: 10px auto;
}

.slicker-container p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.city-card:hover {
    box-shadow: 0 15px 20px lightgray;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

/* Home Section */

.home {
    height: 145vh;
    width: 100%;
    background-color: #edf9fc;
}

.home-container {
    display: inline-flex;
    padding: 20px;
    margin: 50px 0 0 250px;
}

.homebody-container .love {
    height: 35px;
    widows: 35px;
    padding-top: 5px;
}

.homebody-card {
    width: auto;
    height: 350px;
}

.homebody-card img {
    height: 350px;
    width: auto;
}

.homebody-card a {
    text-decoration: none;
    color: inherit;
}

.homebody-card a:visited {
    text-decoration: none;
    color: inherit;
}

.home-card {
    margin: 15px;
    width: 425px;
    height: 535px;
    background-color: #edf9fc;
}

.homebody-container {
    padding: 2px 16px;
}

.homebody-container h4 {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    margin: 10px auto;
}

.homebody-container h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin: 10px auto;
}

.homebody-container p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.home-card:hover {
    box-shadow: 0 15px 20px lightgray;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

/*Trailblazer Section*/

.trailblazer {
    height: 140vh;
    width: 100%;
    background-color: white;
}

.trail-container {
    display: inline-flex;
    padding: 20px;
    margin: 40px 0 0 250px;
}

.blazer-container .love {
    height: 35px;
    widows: 35px;
    padding-top: 5px;
}

.blazer-card {
    width: auto;
    height: 350px;
}

.blazer-card img {
    height: 350px;
    width: auto;
}

.blazer-card a {
    text-decoration: none;
    color: inherit;
}

.blazer-card a:visited {
    text-decoration: none;
    color: inherit;
}

.trail-card {
    margin: 15px;
    width: 425px;
    height: 535px;
    background-color: white;
}

.blazer-container {
    padding: 2px 16px;
}

.blazer-container h4 {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    margin: 10px auto;
}

.blazer-container h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin: 10px auto;
}

.blazer-container p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.trail-card:hover {
    box-shadow: 0 15px 20px lightgray;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

/* Size Guide Page */

.size {
    height: 100vh;
    width: 100%;
    background-color: white;
    margin: 0 auto;
}

.size-content {
    background-color: ivory;
    height: 100vh;
}

.size-left {
    background-image: url(img/dog13.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    height: 102.15vh;
}

.size-content h1
{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    text-align: center;
    padding-top: 100px;
}

.size-content h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    padding: 10px;
    margin: 5px 50px;
}

.size-column
{
    width: 550px;
    height: 850px;
    column-count: 2;
    column-width: 20px;
    column-span: 20px;
    margin: 50px auto;
}

.size-column li
{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    list-style: none;
    padding: 10px;
}

.size-icon
{
    padding-top: 10px;
}

.size-icon p
{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.size-icon img
{
    height: 50px; 
    width: 60px;
}

.size-description
{
    padding-top: 5px;
}

/* Limited Page */

.limited
{
    height: 90vh;
    width: 100%;
    background-image: url(img/dog31.jpg);
    background-size: cover;
    background-position-x: bottom;
}

.limited-header h1
{
    font-family: 'Playfair Display', serif;
    font-size: 55px;
    color: white;
    text-shadow: 1px 1px gray;
    padding-top: 250px;
    margin-left: 150px;
}

.limited-header p
{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: justify;
    color: white; 
    text-shadow: 1px 1px gray;
    padding-top: 20px;
    margin: 0 0 20px 155px;
}

.limited-header button
{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: teal;
    height: 60px;
    width: 175px;
    border: none; 
    margin-left: 150px;
}

.limited-header a, a:visited
{
    text-decoration: none; 
    color: inherit;
}


.limited-header button:hover
{
    border: 2px solid slategray;
    background-color: ivory;
    color: slategray;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

/* Autumn Collection Section */

.autumn-collection
{
    height: 360vh;
    width: 100%; 
    background-color: ivory;
    margin-bottom: -40px;
}

.autumn-container
{
    height: 400px;
    width: 1050px;
    column-count: 2;
    padding-top: 70px;
    margin: 0 auto;
}

.autumn-container img
{
    height: 400px;
    width: 550px;
    float: left;
}

.autumn-right
{
    float: right;
}

.autumn-left
{
    float: left;
}

.autumn-right h1
{
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    color: darkslategray;
    text-align: right;
    margin: 20px 0 20px 0;
    padding-top: 50px;
}

.autumn-right p
{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: darkslategray;
    text-align: right;
    margin: 20px 0 10px 10px;
}

.autumn-right button
{
    float: right;
    margin-right: 0px;
    height: 50px;
    width: 150px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    background-color: teal;
    color: ivory;
}

.autumn-right button:hover
{
    background-color: ivory;
    color: darkslategray;
    border: 2px solid darkslategray;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.autumn-right a
{
    text-decoration: none;
    color: inherit;
}

.autumn-right a:visited {
    text-decoration: none;
    color: inherit;
}

.autumn-right h1
{
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    color: darkslategray;
    text-align: right;
    margin: 20px 0 20px 0;
    padding-top: 50px;
}

.autumn-right p
{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: darkslategray;
    text-align: right;
    margin: 20px 0 10px 10px;
}

.autumn-right button
{
    float: right;
    height: 50px;
    width: 150px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    background-color: teal;
    color: ivory;
}

.autumn-right button:hover
{
    background-color: ivory;
    color: darkslategray;
    border: 2px solid darkslategray;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.autumn-left h1 {
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    color: darkslategray;
    text-align: left;
    margin: 20px 0 20px 0;
    padding-top: 50px;
}

.autumn-left p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: darkslategray;
    text-align: left;
    margin: 20px 0 10px 10px;
}

.autumn-left button {
    float: left;
    height: 50px;
    width: 150px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    background-color: teal;
    color: ivory;
}

.autumn-left button:hover {
    background-color: ivory;
    color: darkslategray;
    border: 2px solid darkslategray;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.autumn-left a {
    text-decoration: none;
    color: inherit;
}

.autumn-left a:visited {
        text-decoration: none;
        color: inherit;
}

/*About Page*/

.about-header
{
    height: 40vh;
    width: 100%;
    background-color: ivory;
}

.about-header h1
{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    padding-top: 80px;
}

hr
{
    width: 350px;
    margin: 50px auto;
}

.about-header h3
{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
}

/*Quality Section*/

.quality
{
    height: 35vh;
    width: 100%; 
    background-color: ivory; 
}

.quality-container
{
    column-count: 3;
    margin: 0 auto;
    padding: 10px 80px;
}

.quality-container li
{
    list-style: none;
}

.quality-container img
{
    height: 50px;
    width: 50px;
    margin: 0 0 20px 255px;
}

.quality-container h3
{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    text-align: center;
}

.quality-container h5
{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-align: justify;
    padding: 14px;
}

/*Story Section*/

.story
{
    height: 170vh;
    width: 100%;
    background-color: ivory;
    margin-bottom: -50px;
}

.about-img img
{
    height: 550px;
    width: 950px;
    transform: translate(50%,30%);
    -webkit-transform: translate(50%,30%);
    -moz-transform: translate(50%,30%);
    -ms-transform: translate(50%,30%);
    -o-transform: translate(50%,30%);
}

.about-container h1
{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    padding: 50px 0;
    margin-top: 175px;
}

.about-container p 
{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: justify;
    padding: 0px 300px;
}

.about-container h5 
{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-style: italic;
    text-align: center;
    padding: 20px 375px;
}

/* Contact Page*/

.contact {
    height: 130vh;
}

.contact-left 
{
    background-color: ivory;
    height: 100vh;
}

.contact-right {
    background-image: url(img/dog35.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 132vh;
}

.contact-row
{
    display: inline-flex;
    flex-flow: column;
}
.contact-row h2 
{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    padding: 10px;
    margin: 10px 50px 0 5px;
    color: darkslategray;
    text-align: justify;
}

.contact-row h4 
{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 10px;
    margin: 0 50px 0 75px;
    color: darkslategray;
    text-align: justify;
}

.contact-left h1 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    text-align: left;
    color: darkslategray;
    padding: 150px 0 20px 80px;
}

.text-content h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: left;
    color: darkslategray;
    padding: 50px 0 20px 80px;
}

.text-content form
{
    margin: 0 80px;
}
 
.text-content form ::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    padding-left: 5px;
    font-weight: bold;
    color: slategray;
}

.contact-form input[type=text],
textarea {
    width: 90%;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 10px auto;
    resize: vertical;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: white;
    color: darkslategray;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-left: 5px;
    padding-top: 5px;
}
 
.contact-form input[type=text]:hover
{
    background-color: #edf9fc; 
}

.contact-form textarea:hover
{
    background-color: #edf9fc;
}

.contact-form input[type=submit] {
    background-color: teal;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    width: 150px;
    height: 50px;
    padding: 10px;
    border: none;
}

.contact-form input[type=submit]:hover {
    background-color:transparent;
    color: teal;
    border: 1.5px solid teal;
    cursor: pointer;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
}


/*Products Page*/
.products-page
{
    height: 100vh;
    width: 100%;
    margin-bottom: -40px;
    background-color: ivory;
}


.slide img
{
    float: left;
    height: 350px;
    width: 450px; 
    margin-top: 70px;
    margin-left: 285px;
}

.product-description
{
    display: inline-block;
    width: 32vw;
    margin-left: 100px;
    margin-top: 50px;
}

.product-details p
{
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.product-description h1
{
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.product-description h2 {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-weight: bolder;
    margin-top: 20px;
}

.product-description p 
{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold; 
    margin-top: 15px;
    margin-bottom: 20px;
}

select
{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
    height: 30px;
    width: 100px;
    border: 1px solid slategray;
    margin-bottom: 20px;
}

.product-description label {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    width: 100px;
    margin-bottom: 10px;
}


#quantity label {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 30px;
    width: 1px;
}

.product-description button
{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    height: 50px;
    width: 500px;
    background-color: teal;
    color: white; 
}

.product-description button:hover {
    background-color: white;
    color: teal;
    border: 2px solid teal;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.product-details ul
{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding-left: 30px;
    font-weight: bold;
}

.product-details a {
   color: blue;
}

.number {
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin: 35px 2px;
    background-color: teal;
    color: ivory;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-radius: 50%;
    display: inline-block;
    transition:  0.6s ease;
    -webkit-transition:  0.6s ease;
    -moz-transition:  0.6s ease;
    -ms-transition:  0.6s ease;
    -o-transition:  0.6s ease;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.active,
.dot:hover {
    background-color: ivory;
    border: 2px solid teal;
    color: teal;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

/* Footer Section */

.footer {
    height: 40vh;
    width: 100%;
    background-color: teal;
    margin-top: 20px;
    padding: 0;
}

.footer-column {
    display: inline-flex;
    column-count: 4;
    margin: 20px 0 0 60px;
    padding-left: 25px;
}

.row h1 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    color: white;
    margin-top: 50px;
}

.row h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
    margin-top: 10px;
}

.row input {
    height: 40px;
    width: 200px;
    margin-top: 10px;
    background-color: teal;
    border: 2px solid ivory;
}

.row input:focus {
    color: ivory;
    font-family: 'Poppins', serif;
    font-size: 20px;
}

.row input::placeholder {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

button {
    height: 47px;
    width: 100px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: teal;
    background-color: ivory;
    border: 2px solid teal;
    margin-right: 80px;
}

button:hover {
    background-color: teal;
    border: 2px solid ivory;
    color: ivory;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.row1 {
    margin-top: 25px;
    padding: 35px;
}

.row1 h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: white;
}

.row1 h4 {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 18px;
}

.row1 img {
    height: 50px;
    width: 50px;
    margin: 8px;
}

.row1 ul {
    display: inline-flex;
    list-style: none;
}

.footer-brand {
    background-color: teal;
}

.footer-brand h1 {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 15px;
}

.top {
    background-color: lightblue; 
}
.top a
{   
    text-decoration: none;
    color: inherit;
}

.top p
{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-weight: bold;
    color: teal;
    text-shadow: 1px darkslategray;
    padding: 10px;
}

.top p:hover {
    color: ivory;
    text-shadow: 1px darkslategray;
    transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -ms-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
}