*
{
    margin: 0;
   padding: 0;
}

body
{
    background-color: black;
}

.logo
{
    background-color: white;
    padding: 10px;
}

header
{
    height: 30vh;
    width: 100%;
}

.logo img
{
    height: 150px;
    width: 175px;
    top: 0;
    left: 0;
    transform:translate(380%,5%);
    -webkit-transform:translate(380%,5%);
    -moz-transform:translate(380%,5%);
    -ms-transform:translate(380%,5%);
    -o-transform:translate(380%,5%);
}

.navbar 
{
    height: 45px;
    width: 100%; 
    background-color: #edf9fc;
}

.navbar ul
{
    text-align: center; 
}

.navbar li
{
    display: inline;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    padding: 50px;
    cursor: pointer;
}

/*Latest Collection*/

.latest
{
    height: 90vh;
    width: 100%;
    background-color: white; 
}

.latest-content
{
    background-color: slategray;
    height: 90vh;
}

.latest-right
{
    background-image: url(img/dog.jpg); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position-y: center;
    height: 90vh;
}

.latest-content h1
{
    font-family: 'Playfair Display', serif; 
    font-size: 55px;
    color: white; 
    text-align: center; 
    padding-top: 100px;
}

.latest-content h2
{
    font-family: 'Poppins', serif;
    font-size: 35px;
    color: white;
    text-align: center;
    padding: 40px;
}

.latest-content h3 
{
    font-family: 'Poppins', serif;
    font-size: 40px;
    color: white;
    text-align: center;   
}

.latest-content button
{
    height: 75px;
    width: 200px;
    border: 2px solid white; 
    background-color: transparent;
    font-family: 'Poppins', serif; 
    font-size: 30px;
    font-weight: bold;
    color: white; 
    margin: 50px 0 0 275px; 
}

.latest-content button:hover
{
    color: darkslategrey;
    border: 2.5px solid slategray; 
    background-color: white;
    transition:.5s ease-in;
    -webkit-transition:.5s ease-in;
    -moz-transition:.5s ease-in;
    -ms-transition:.5s ease-in;
    -o-transition:.5s ease-in;
}

/*Fall Collection*/

.fall
{
    height: 105vh;
    width: 100%;
    background-color: ivory;
}

.fall-container
{
    margin-top: 50px;
    display: inline-flex; 
}

.fall-container .column 
{
    border: 2px solid transparent;
    padding: 0 4px;
    margin: 50px 0 0 8px;
    height: 500px;
    width: 650px;
    top: 50%;
    left: 50%;
    transform: translate(13%, 10%);
    -webkit-transform: translate(13%, 10%);
    -moz-transform: translate(13%, 10%);
    -ms-transform: translate(13%, 10%);
    -o-transform: translate(13%, 10%);
}

#column2
{
    background-color: burlywood;
    background-position-y: top;
}

#column1
{
    background-image: url(img/dog32.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}

.column .text-block
{
    position: absolute;
    margin-top: 10px;
    height: 300px;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    opacity: 0.70;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    padding: 20px;
}

.column .text-block h1
{
    font-family: 'Playfair Display', serif; 
    font-size: 35px; 
    text-align: center; 
    margin: 30px;
    text-shadow: 1px black;
}

.column .text-block p
{
    font-family: 'Playfair Display', sans-serif;
    font-size: 20px; 
    font-style: oblique; 
    font-weight: bold;
    text-align: center;
    text-shadow: 1px black; 
    margin: 20px;
}

.fall-button button
{
    background-color: slategray;
    color: white;
    border: 2px solid transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    height: 60px;
    width: 250px;
    margin: 40px;
    top: 0;
    left: 0;
    transform:translate(62%, 500%);
    -webkit-transform:translate(62%, 500%);
    -moz-transform:translate(62%, 500%);
    -ms-transform:translate(62%, 500%);
    -o-transform:translate(62%, 500%);
}

.fall-button button:hover
{
    background-color: ivory;
    color: black;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

#column2 h1
{
    font-family: 'Playfair Display', serif;
    font-weight: bolder;
    font-size: 75px;
    text-align: center;
    top: 0;
    left: 0;
    transform:translate(0%,35%);
    -webkit-transform:translate(0%,35%);
    -moz-transform:translate(0%,35%);
    -ms-transform:translate(0%,35%);
    -o-transform:translate(0%,35%);
}

#column2:hover
{
    background-color: rgb(253, 215, 165);
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

/* Products Section */

.products {
    height: 100vh;
    width: 100%;
    background-color: #edf9fc;
}

.product-container {
    display: inline-flex;
    padding-top: 40px;
    margin: 50px 75px;
}

.card {
    width: auto;
    height: 300px;
    background-color: #edf9fc;
}

.card img
{
    height: 300px;
    width: auto;
}

.card a {
    text-decoration: none;
    color: inherit;
}

.card a:visited {
    text-decoration: none;
    color: inherit;
}

.product-card {
    margin: 15px;
    width: 425px;
    height: 500px;
    background-color: #edf9fc;
}

.product-card:hover {
    box-shadow: 0 15px 20px lightgray;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

.container {
    padding: 2px 16px;
}

.container h4 {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
}

.container p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-align: center;
}

/* Footer Section */

.footer 
{
    height: 50vh;
    width: 100%; 
    background-color: slategray;
    margin-top: 40px;
    padding: 0;
}

.footer-column
{
   display: inline-block;
   column-count: 4;
   margin: 80px 0  0 50px;
   padding-left: 15px;
}

.row h1
{
    font-family: 'Playfair Display', serif; 
    font-size: 40px;
    color: white;
}

.row h3
{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
    margin-top: 10px;
}

input
{
    height: 40px;
    width: 200px;
    margin-top: 10px;
    background-color: slategray;
    border: .5px solid white; 
}

input:focus
{
    color: ivory;
    font-family: 'Poppins', serif;
    font-size: 20px;
}

::placeholder
{
    color: white; 
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

button
{
    height: 42px;
    width: 100px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: white;
    background-color: slategray;
    border: 2px solid white; 
    vertical-align: middle;
}

button:hover
{
    background-color: ivory;
    color: darkslategray;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.row1
{
    margin-top: 25px;
    padding: 35px;
}

.row1 h2
{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: white;
}

.row1 h4 {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 18px;
}

.brand 
{   
    background-color: slategray;
}

.brand h1
{
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 10px;
}